name: CI

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

  workflow_dispatch:

concurrency:
  group: ci
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-22.04

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Zig
        uses: mlugg/setup-zig@v2

      - name: Set up Kcov
        run: sudo apt install kcov

      - name: Run `run` step
        run: |
          zig build run -- -r github -d -c -l -k executable "Executable description." user-handle "User Name"
          cd executable/
          zig build
          zig build run
          zig build doc
          zig build cov
          zig build release
          cd ../
          rm -rf executable/

          zig build run -- -t lib -r github -d -c -l -k library "Library description." user-handle "User Name"
          cd library/
          zig build
          zig build run
          zig build doc
          zig build cov
          cd ../
          rm -rf library/

          zig build run -- -t bld -r github build https://upstream.repo.link user-handle "User Name"
          rm -rf build/

      - name: Run `fmt` step
        run: zig build fmt
